.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin: 30px 0 0 0;
    gap: 8px;
    width: 100%;
    ul{
        display: flex;
        gap: 20px;     
        align-items: center;
    }
    img{
        max-height: 50px;
    }
    .DevBurger{
        display: none;
    }

}

@media screen and (max-width: 1060px) {

    .Header{
        font-size: 13px;
        margin: 10vh 0 0 0;
        justify-content: space-between;
        padding: 0% 12%;

        img{
            transform: scale(180%);
        }
        .DevBurger{
            display: block;
            transform: scale(300%);
        }
    }

}

@media screen and (max-width: 960px){
    .Header{
        ul{
            display: none;
        }
    }
}