.Support{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:120px;
    margin: 0 auto;
    height: 100vh;
    .TextBlock{
        div{
            width: 435px;
            height: 30px;
            background: linear-gradient(90.08deg, #F35635 0.96%, #772BFC 100%);
            box-shadow: -2px 7px 15px rgba(143, 51, 213, 0.75);
            h2{
                
            }
        }        
    }
}